---
import Layout from '../components/Layout.astro';
import Mainvisual from '../components/Mainvisual.astro';
import Section from '../components/Section.astro';
---
<Layout>
    <Mainvisual />
    <Section>
    </Section>
    <Section>
    </Section>
    <Section>
    </Section>
    <Section>
    </Section>
</Layout>
