---
import Layout from '../components/Layout.astro';
import Mainvisual from '../components/Mainvisual.astro';
import Section from '../components/Section.astro';
import Spacer from '../components/Spacer.astro';
import SectionTitle from '../components/SectionTitle.astro';
import Button from '../components/Button.astro';
import FeatureList from '../components/FeatureList.astro';
import CourseList from '../components/CourseList.astro';
import GallerySlider from '../components/GallerySlider.astro';
import WorksGallery from '../components/WorksGallery.astro';
import FaqList from '../components/FaqList.astro';
import ArchiveInterview from '../components/ArchiveInterview.astro';
import ConversionArea from '../components/ConversionArea.astro';
import { Img } from 'astro-imagetools/components';
import { Rellax } from 'astro-imagetools/components';
import "../css/top.scss"
---
<Layout>
    <Mainvisual />
    <section class="section section-introduction">
        <div class="site-introduction">
            <!-- <div class="site-introduction__bg rellax" data-rellax-speed="-2.5" data-rellax-percentage="0.5"></div> -->
            <div class="site-introduction-outline">
                <div class="site-introduction-outline__text-content inview-target inview-fadein">
                    <!-- <h2 class="site-introduction-outline__copy">
                        <Img src="/images/introduction-copy.png" placeholder="none" format="webp" alt="WEBデザイン、実はつくばでも学べます。"/>
                    </h2> -->
                    <h2 class="site-introduction-copy">
                        <span class="site-introduction-copy__emphasys">
                            <span class="site-introduction-copy__emphasys-item is-active" data-item="web" data-color="radial-gradient(at center bottom,#F7701B,#FF5A36)">WEBデザイン</span>
                            <span class="site-introduction-copy__emphasys-item" data-item="video" data-color="radial-gradient(at center bottom,#1b77f7,#364eff)">動画制作</span>
                            <span class="site-introduction-copy__emphasys-item" data-item="graphic" data-color="radial-gradient(at center bottom,#048832,#0a6114)">グラフィックデザイン</span>
                            <span class="site-introduction-copy__emphasys-bg is-active" data-item="web" style="--color:radial-gradient(at center bottom,#f7a61b,#FF5A36);"></span>
                            <span class="site-introduction-copy__emphasys-bg is-active" data-item="video" style="--color:radial-gradient(at center bottom,#1b77f7,#364eff);"></span>
                            <span class="site-introduction-copy__emphasys-bg is-active" data-item="graphic" style="--color:radial-gradient(at center bottom,#06c015,#0d8b1c);"></span>
                        </span>
                        実はつくばでも学べます。
                    </h2>
                    <script>
                        (function(){
                            const copy = document.querySelector('.site-introduction-copy__emphasys');
                            const items = copy.querySelectorAll('.site-introduction-copy__emphasys-item');
                            const bg = copy.querySelectorAll('.site-introduction-copy__emphasys-bg');
                            let activeItemIndex = 0;
                            const changeItems = () => {
                                const activeItem = items[activeItemIndex];
                                const width = activeItem.clientWidth;
                                for(let i=0; i<items.length; i++) {
                                    if(i === activeItemIndex) {
                                        activeItem.classList.add("is-active");
                                        bg[i].classList.add("is-active");
                                    } else {
                                        items[i].classList.remove("is-active");
                                        bg[i].classList.remove("is-active");
                                    }
                                    copy.style.setProperty('--width',`${width}px`);
                                }
                                activeItemIndex++;
                                activeItemIndex = activeItemIndex === items.length ? 0 : activeItemIndex;
                                setTimeout(() => {
                                    changeItems();
                                }, 1000);
                            };
                            changeItems();
                        }());
                    </script>
                    <div class="site-introduction-outline__body-text">
                        <p>STUDIO京都は、デジタルの力で未来の仕事や生活を楽しくするクリエイターを育てるスクールです。</p>
                        <p>STUDIOでは好きな時間に学ぶことができるため、学業・仕事・育児といったライフスタイルに合わせた学習をサポートします。同じ想いを持った仲間たちと、STUDIO京都であなたの新しい未来をデザインしてみませんか。</p>
                    </div>
                </div>
                <div class="site-introduction-outline__image">
                    <Img src="/images/introduction-image.png" placeholder="none" format="webp" alt=""/>
                </div>
            </div>
            <Spacer height="64px"/>
            <div class="aim-job inview-target inview-fadein">
                <h3 class="aim-job__title">目指せる職業</h3>
                <ul class="aim-job__list">
                    <li class="aim-job__list-item">WEBデザイナー</li>
                    <li class="aim-job__list-item">WEBディレクター</li>
                    <li class="aim-job__list-item">グラフィックデザイナー</li>
                    <li class="aim-job__list-item">イラストレーター</li>
                    <li class="aim-job__list-item">動画クリエーター</li>
                    <li class="aim-job__list-item">WEB担当者</li>
                </ul>
            </div>
        </div>
        <Spacer height="96px" />
        <div class="site-introduction__bottom-image inview-target inview-fadein">
            <Img src="/images/introduction-bottom-image.jpg" format="webp" alt=""/>
        </div>
    </section>
    <section class="section section-feature" data-section="feature">
        <SectionTitle subTitle="他にはないかも" subTitleImage="/images/section-subtitle-feature.png" >
            スタジオつくばの<span class="inline-image"><img src="/images/feature-title-inline.svg" width="184" height="144" alt="魅力"></span>
        </SectionTitle>
        <Spacer height="24px" />
        <FeatureList />
    </section>
    <Spacer height="40px" />
    <div class="studio-image">
        <div class="studio-image__image" data-rellax-speed="-4" data-rellax-percentage="0.5">
            <Img src="/images/studio-image.jpg" format="webp" alt="" />
        </div>
    </div>
    <Spacer height="40px" />
    <section class="section section-course" data-section="course">
        <SectionTitle subTitle="豊富なオプション！学び方は自由" subTitleImage="/images/section-subtitle-course.png" >
            コース紹介
        </SectionTitle>
        <Spacer height="40px" />
        <CourseList />
        <Spacer height="104px" />
        <div class="course-others">
            <h3 class="course-others__title">
                <div class="course-others__title-bubble inview-target">
                    <Img src="/images/course-others-title-bubble.png" format="webp" placeholder="none" alt="もっと自由に">
                </div>
                <span class="course-others__title-text">他にもある！選べるコース</span>
            </h3>
            <ul class="course-others__list">
                <li class="course-others-list-item">
                    <div class="course-others-list-item__image">
                        <img src="/images/course-others-01.jpg" alt="" width="720" height="480">
                    </div>
                    <h4 class="course-others-list-item__title">〇〇コース</h4>
                    <div class="course-others-list-item__description">
                        <p>これはダミーのテキストです。ここには本文が入ります。これはダミーのテキストです。ここには本文が入ります。これはダミーのテキストです。ここには本文が入ります。これはダミーのテキストです。ここには本文が入ります。これはダミーのテキストです。ここには本文が入ります。</p>
                    </div>
                </li>
                <li class="course-others-list-item">
                    <div class="course-others-list-item__image">
                        <img src="/images/course-others-01.jpg" alt="" width="720" height="480">
                    </div>
                    <h4 class="course-others-list-item__title">〇〇コース</h4>
                    <div class="course-others-list-item__description">
                        <p>これはダミーのテキストです。ここには本文が入ります。これはダミーのテキストです。ここには本文が入ります。これはダミーのテキストです。ここには本文が入ります。これはダミーのテキストです。ここには本文が入ります。これはダミーのテキストです。ここには本文が入ります。</p>
                    </div>
                </li>
                <li class="course-others-list-item">
                    <div class="course-others-list-item__image">
                        <img src="/images/course-others-01.jpg" alt="" width="720" height="480">
                    </div>
                    <h4 class="course-others-list-item__title">〇〇コース</h4>
                    <div class="course-others-list-item__description">
                        <p>これはダミーのテキストです。ここには本文が入ります。これはダミーのテキストです。ここには本文が入ります。これはダミーのテキストです。ここには本文が入ります。これはダミーのテキストです。ここには本文が入ります。これはダミーのテキストです。ここには本文が入ります。</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="section section-course">
        <GallerySlider images={[
            "/images/gallery-slider-01.jpg",
            "/images/gallery-slider-02.jpg",
            "/images/gallery-slider-03.jpg",
            "/images/gallery-slider-04.jpg",
        ]} />
    </section>
    <section class="section section-course" data-section="works">
        <SectionTitle subTitle="このページも卒業生が勝手に作りました" subTitleImage="/images/section-subtitle-works.png" >
            卒業生の制作物
        </SectionTitle>
        <WorksGallery />
    </section>
    <Spacer height="48px"/>
    <section class="section section-faq">
        <SectionTitle>
            よくある質問
        </SectionTitle>
        <FaqList />
    </section>
    <Spacer height="48px"/>
    <section class="section">
        <SectionTitle>
            卒業生インタビュー
        </SectionTitle>
        <ArchiveInterview />
    </section> 
    <section class="section">
        <ConversionArea />
    </section> 
</Layout>
<script is:inline src="/js/rellax.min.js"></script>
<script is:inline>
    const addInview = function(){
        const target = document.getElementsByClassName('inview-target');
        const position = Math.floor(window.innerHeight * .75);
        for (let i = 0; i < target.length; i++) {
            let offsetTop = Math.floor(target[i].getBoundingClientRect().top);
            if (offsetTop < position) {
                target[i].classList.add('is-inview');
            }
        }
    }
    addInview();
    const body = document.querySelector('body');
    window.addEventListener('scroll', function(){
        if(window.scrollY > 200) {
            body.classList.add('is-scrolled');
        } else {
            body.classList.remove('is-scrolled');
        }
    });

    window.addEventListener('scroll', addInview, false);
    const studioImageRellax = new Rellax('.studio-image__image');
    const rellax = new Rellax('.rellax');
    (function(){
        const fixedNavi = document.getElementById('fixed-navi');
        const sections = document.querySelectorAll('[data-section]');
        console.log("test");
        window.addEventListener('scroll',()=>{
            let activeItemIndex = 0;
            for(let i=0; i<sections.length; i++) {
                let offsetTop = Math.floor(sections[i].getBoundingClientRect().top);
                if(offsetTop < 360) {
                    activeItemIndex = i;
                }
            }
            const naviItems = fixedNavi.querySelectorAll('.navi-item');
            const activeNaviItem = naviItems[activeItemIndex];
            for(let i=0; i<naviItems.length; i++) {
                if (i === activeItemIndex) {
                    naviItems[i].classList.add('is-active');
                } else {
                    naviItems[i].classList.remove('is-active');
                }
            }
        });
    }());
</script>