---
import Button from "./Button.astro";
const naviItem = [
    {label:"STUDIOつくばの特徴",href:"#feature"},
    {label:"コース紹介",href:"#feature"},
    {label:"卒業生の制作物",href:"#feature"},
    {label:"卒業生インタビュー",href:"#feature"},
]
---
<div class="container">
    <div class="navi-container">
        <ul class="navi">
            {naviItem.map((item)=>
                <li class="navi-item">
                    <a href={item.href}>{item.label}<span class="arrow"></span></a>
                </li>
            )}
            <!-- <li class="contact-button">
                <Button label="お問い合わせ" width="auto" iconSrc="/images/icon-email.svg" color="orange" />
            </li> -->
        </ul>
        <div class="navi-bg"></div>
    </div>
</div>
<style>
    .container {
        position: fixed;
        top: 8px;
        right: 8px;
        z-index: 0;
        translate: 0 calc(-100% - 24px);
        transition: 0.25s;
        z-index: 8;
        width: var(--content-width-wide);
    }
    .navi-container {
        -webkit-backdrop-filter: brightness(1.5) saturate(1.6) blur(16px);
        backdrop-filter: brightness(1.5) saturate(1.6) blur(16px);
        border-radius: 16px;
        position: relative;
        width: fit-content;
        margin: 0 0 0 auto;
        z-index: 0;
    }
    .navi-bg {
        position: absolute;
        inset: 0 0 0 0;
        z-index: -1;
        border-radius: 16px;
        overflow: hidden;
        background: rgba(240,220,180,1);
        opacity: 0.5;
    }
    .navi-bg::after {
        content: "";
        position: absolute;
        inset: 0 0 2px 0;
        border-radius: 16px;
        background: var(--color-white-primary);
        z-index: -2;
    }
    .navi {
        position: relative;
        width: fit-content;
        padding: 8px 28px 10px 28px;
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 36px;
        border-radius: 16px;
        border: 1px solid rgba(255,255,255,0.6);
        box-shadow: var(--shadow-primary-large);
    }
    .navi-item>a {
        position: relative;
        display: block;
        padding: 12px 0 24px;
        text-shadow: 0 4px 0 rgba(120,40,0,0.12);
    }
    .arrow {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 50%;
        bottom: 6px;
        transform: translate(-50%,0);
        filter: drop-shadow(0 4px 0 rgba(160,60,0,0.2));
    }
    .arrow::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: var(--color-orange-primary);
        -webkit-mask: url("/images/arrow-secondary-down.svg") center/contain no-repeat;
        mask: url("/images/arrow-secondary-down.svg") center/contain no-repeat;
    }
    :global(.is-scrolled) .container {
        translate: 0 0;
        transition: 0s;
        animation: fixed-navi-show 0.5s 0.25s both normal 1 ease-in-out;
        transform: translate(0,0);
    }
    @keyframes fixed-navi-show {
        0% {
            transform: translate(0,calc(-100% - 24px));
        }
        50% {
            transform: translate(0,6px);
        }
        100% {
            transform: translate(0,0);
        }
    }
    @media screen and (max-width:1280px) {
        .navi {
            font-size: 16px;
            gap: 24px;
        }
    }
</style>