<div class="container inview-target">
    <div class="content">
        <h3 class="title">
            <span class="title-animation">何度でも</span>
            失敗していい場所
        </h3>
        <div class="body-text">
            <p>STUDIOでは好きな時間に学ぶことができるため、学業・仕事・育児といったライフスタイルに合わせた学習をサポートします。同じ想いを持った仲間たちと、STUDIO京都であなたの新しい未来をデザインしてみませんか。</p>
        </div>
    </div>
</div>
<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: var(--content-width);
        min-height: 65vh;
        margin: 0 auto;
        transition: min-height 1s;
    }
    .content {
        width: 50%;
    }
    .title {
        font-size: 72px;
        margin: 0 0 32px;
    }
    .title-animation {
        display: block;
        height: 144px;
        color: transparent;
        background: url("/images/message-copy.png") top left/auto calc(144px * 8)  no-repeat;
        animation: massage-title 0.75s 0s both normal infinite steps(7);
    }
    @keyframes massage-title {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 0 100%;
        }
    }
    .body-text {
        line-height: 2;
    }
</style>