<section class="container">
    <div class="inner">
        <slot />
    </div>
</section>
<style>
    .container {
        padding: 104px 0;
    }
    .inner {
        width: var(--content-width);
        margin: 0 auto;
    }
</style>