.section {
    padding: 104px 0;
}
.section-introduction {
    padding-top: 80px;
    overflow: hidden;
}
.site-introduction-outline {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: var(--content-width);
    margin: 0 auto;
    &__text-content {
        width: 60%;
    }
    &__copy {
        font-size: 64px;
        height: 2.5em;
        margin: 0 0 48px;
        img {
            width: auto;
            height: 100%!important;
        }
    }
    &__body-text {
        line-height: 2;
    }
    &__image {
        width: 50%;
        margin: 0 -10% 0 0;
    }
}
.aim-job {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 20px;
    background: var(--color-white-primary);
    border-radius: 12px;
    &__title {
        padding: 16px;
        margin: 0 0 0 -32px;
        color: var(--color-white-primary);
        background: var(--color-orange-primary);
        border: 1px solid rgba(255,255,255,0.5);
        box-shadow: var(--shadow-primary-medium-strong);
        text-shadow: var(--text-shadow-primary);
        border-radius: 8px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    &__list-item {
        padding: 12px 16px 10px;
        background: var(--color-white-tertiary);
        border-radius: 8px;
    }
}
.studio-image {
    position: relative;
    width: 100%;
    height: 40vw;
    max-height: 580px;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("/images/image-overlay-primary.png") center/6px repeat;
        z-index: 2;
    }
    &__image {
        position: absolute;
        inset: 0;
        top: -160px;
        bottom: -160px;
    }
    img {
        width: 100%;
        height: 100%!important;
        object-fit: cover;
    }
}




