.section {
    padding: 96px 0;
}
.section-introduction {
    position: relative;
    padding-top: 24px;
    overflow: hidden;
}
.site-introduction {
    position: relative;
    z-index: 0;
    &__bg {
        position: absolute;
        top: -80px;
        left: -80px;
        width: 720px;
        height: 720px;
        z-index: -1;
        -webkit-mask: linear-gradient(to top,black 80%, transparent 100%);
        mask: linear-gradient(to top,black 80%, transparent 100%);
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: url("/images/bg-pattern-grid.svg") -20px -20px/160px repeat;
            -webkit-mask: radial-gradient(at top left,#fff,transparent 80%);
            mask: radial-gradient(at top left,#fff,transparent 80%);
        }
    }
    &__bottom-image {
        position: relative;
        z-index: -1;
    }
}
.site-introduction-outline {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: var(--content-width);
    margin: 0 auto;
    &__text-content {
        width: 60%;
    }
    &__copy {
        font-size: 64px;
        height: 2.5em;
        margin: 0 0 48px;
        background: var(--color-white-secondary);
        filter:url(#chromaticAberration);
        clip-path: var(--clip-rect-edge);
        img {
            width: auto;
            height: 100%!important;
        }
    }
    &__body-text {
        line-height: 2;
    }
    &__image {
        width: 50%;
        margin: 0 -10% 0 0;
    }
}
.site-introduction-copy {
    position: relative;
    line-height: 1.125;
    font-size: 58px;
    margin: 0 0 48px;
    filter:url(#chromaticAberration);
    clip-path: polygon(-1px -1px, calc(100% + 1px) -1px,calc(100% + 1px) calc(100% + 1px),-1px calc(100% + 1px));
    &::before {
        content: "";
        position: absolute;
        background: var(--color-white-secondary);
        inset: -4px;
        z-index: -1;
    }
    &__emphasys {
        position: relative;
        z-index: 0;
        display: block;
        width: calc(var(--width) + 40px);
        height: 84px;
        margin: 0 0 24px;
        line-height: 1;
        border-radius: 12px;
        border: 1px solid rgba(255,255,255,0.5);
        color: var(--color-white-primary);
        overflow: hidden;
        transition: width 0.625s cubic-bezier(.55,.13,.14,1.05);
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 2;
            background: url("/images/noise.png") center/100px repeat;
            animation: overlay-noise 0.5s 0s both normal infinite steps(5);
            mix-blend-mode: overlay;
            opacity: 0.75;
        }
        &::after {
            content: "";
            position: absolute;
            z-index: 4;
            inset: 0;
            box-shadow: var(--inner-grow-primary-medium);
        }
    }
    &__emphasys-item {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        width: max-content;
        opacity: 0;
        transition: opacity 0.25s;
        &.is-active {
            opacity: 1;
        }
    }
    &__emphasys-bg {
        position: absolute;
        inset: 0;
        background: radial-gradient(at center bottom,#f7a61b,#FF5A36);
        background: var(--color);
        opacity: 0;
        transition: opacity 1s;
        z-index: -2;
        &.is-active {
            opacity: 1;
            transition: opacity 1s;
            z-index: -1;
        }
    }
}
.aim-job {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 20px;
    background: var(--color-white-primary);
    border-radius: 12px;
    &__title {
        padding: 16px;
        margin: 0 0 0 -32px;
        color: var(--color-white-primary);
        background: var(--color-orange-primary);
        border: 1px solid rgba(255,255,255,0.5);
        box-shadow: var(--shadow-primary-medium-strong);
        text-shadow: var(--text-shadow-primary);
        border-radius: 8px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    &__list-item {
        padding: 12px 16px 10px;
        background: var(--color-white-tertiary);
        border-radius: 8px;
    }
}
.studio-image {
    position: relative;
    width: 100%;
    height: 40vw;
    max-height: 580px;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("/images/image-overlay-primary.png") center/6px repeat;
        z-index: 2;
    }
    &__image {
        position: absolute;
        inset: 0;
        top: -160px;
        bottom: -160px;
    }
    img {
        width: 100%;
        height: 100%!important;
        object-fit: cover;
    }
}
.inview-fadein {
    opacity: 0;
    transform: translate(0,16px);
    transition: opacity 0.75s,transform 0.75s;
}
.inview-fadein.is-inview {
    opacity: 1;
    transform: none;
}

.course-others {
    width: var(--content-width);
    margin: 0 auto;
    &__title {
        position: relative;
        font-size: 32px;
        padding: 184px 0 0;
        margin: 0 0 16px;
    }
    &__title-text{
        position: relative;
        width: fit-content;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -12px;
            transform: translate(100%,-50%);
            width: 50px;
            height: 14px;
            background: url("/images/title-decoration-dot.svg") center/contain no-repeat;
        }
    }
    &__title-bubble {
        position: absolute;
        width: 162px;
        top: 0;
        left: -40px;
        z-index: 0;
        opacity: 0;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 162px;
            height: 162px;
            border-radius: 1000px;
            box-shadow: var(--shadow-primary-medium);
        }
        &.is-inview {
            animation: course-others-title-bubble-show 0.5s 0s normal both 1 ease-in-out;
        }
        @keyframes course-others-title-bubble-show {
            0% {
                opacity: 0;
                transform: scale(0.75);
                transform-origin: 50% 100%;
            }
            50% {
                opacity: 1;
                transform: scale(1.05);
            }
            100% {
                opacity: 1;
                transform: scale(1);
                transform-origin: 50% 100%;
            }
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 32px;
    }
}
.course-others-list-item {
    &__image {
        margin: 0 0 32px;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: var(--shadow-primary-medium);
    }
    &__title {
        margin: 0 0 16px;
        font-size: 28px;
    }
    &__description {
        line-height: 2;
        font-size: 14px;
    }
}

.section-feature {
    overflow: hidden;
}

.course-others-list-item {
    &__title {
        position: relative;
        padding: 0 0 0 40px;
        margin: 0 0 24px;
        font-size: 28px;
        &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 32px;
            height: 32px;
            background: var(--dominant-color);
            border: 1px solid rgba(255,255,255,0.5);
            border-radius: 12px;
            box-shadow: var(--shadow-primary-small);
        }
    }
    &:nth-of-type(1) {
        --dominant-color: var(--color-pink-primary);
    }
    &:nth-of-type(2) {
        --dominant-color: var(--color-lightgreen-primary);
    }
    &:nth-of-type(3) {
        --dominant-color: var(--color-purple-primary);
    }
}

.section-faq {
    position: relative;
    padding: 96px 0;
    background: var(--color-lightgray-primary);
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 206px;
        height: 206px;
        top: 8px;
        left: 8px;
        background: url("/images/section-faq-bg.svg") center/contain no-repeat;
    }
    &::after {
        top: auto;
        left: auto;
        right: 8px;
        bottom: 8px;
        transform: rotate(180deg);
    }
}